*{
margin: 0;
padding: 0;
box-sizing: border-box;
}
.header,
.details{
    width: 90%;
}

.details{
    border: 1px solid black;
}
.details>div:nth-child(1){
    height: 88%;
}
textarea,
input{
    border-bottom: 1px solid black;
    border-radius: 8px;
    
}
#checkbox{
    display: grid;
    grid-template-columns:  auto auto;
    row-gap: 10px;
    column-gap: 10px;
}
.as-card #loginForm::before{
    content: '';
    position: absolute;
    width: 800px;
    height: 800px;
    background-image: conic-gradient(transparent,transparent,
    transparent, #111827);
    animation: animate 10s linear infinite;
    border-radius: 20px;

}
.as-card #loginForm::after{
    content: '';
    position: absolute;
    width: 800px;
    height: 800px;
    background-image: conic-gradient(transparent,transparent,
    transparent, #111827);
    
 animation: animate 10s linear infinite;
 animation-delay: -5s;
 border-radius: 20px;

}
.as-card #loginForm>span{
     inset: 6px;
    z-index: 1;
    border-radius: 8px;
    background-color: white;
    position: absolute;
     
}
.as-card #loginForm .header,
.as-card #loginForm .details{
    z-index: 2;
}
@keyframes animate {
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}

.as-card #loginForm{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 75vh;
    overflow: hidden;
    
}
.as-card #loginForm input, .as-card #loginForm textarea {
    background-color: transparent;
    border: none;
    /* display: none; */
  }
  .as-card #loginForm textarea {
    line-height: 0.9;
    /* background: #000; */
    height: 50px;
  }
  .as-card #loginForm textarea::placeholder {
   display: none;
  }
  .as-card #loginForm  #checkbox label:before, .as-card #loginForm  #checkbox label:after {
    content: none;
  }
  .as-card #Expert{
    display: none;
  }
  .as-card #loginForm #checkbox input {
    display: none;
  }
  .as-card #loginForm #checkbox>div>input:not(:checked),
.as-card #loginForm #checkbox>div>input:not(:checked) + label {
  display: none;
}


.as-card #containaer>div>label{
  color:  #374151d7;
}

.as-card #checkbox{
    grid-template-columns: auto auto auto;
} 
.as-card .name label,
.as-card .job label,
.as-card .country label,
.as-card .blood label {
  display: none;
}
.as-card #jobTitl{
    flex-direction: column;
}
.as-card textarea{
   font-size: 20px;
   padding-left: 0;
   /* margin-top: 2vh; */
}
.as-card input{
   padding-left: 0;

}
.as-card #containaer{
  justify-content: center;
  align-items: center;
  column-gap: 2vh;
}
.as-card .twitter{
  flex: 0.3;

}
.as-card .twitter>input{
 align-self: center;
}

.as-card .codepen{
    flex: 0.3;
   
}

#clearData,
#saveDtaails,
#click{
    box-shadow: 0 0 14px #6B7280;
    border: 2px solid #6B7280;
    transform: .5s;
}
#clearData:hover,
#saveDtaails:hover,
#click:hover{
    background: transparent;
    color: #111827;
    box-shadow: none;
}
.bar-animation{
    width: 100%;
    height: 100%;
    display: flex;
    z-index: -1;
}
.bar{
    width: 100%;
    height: 100%;
    background: #9CA3AF;
    transform: translateY(-100%);
    animation: show-bars .5s ease-in-out forwards;
    animation-delay: calc(.1s * var(--i));
}
@keyframes show-bars {
    100%{
    transform: translateY(0%);
        
    }
}
.as-card .id__wrapper {
  /* width: 400px; */
  max-width: 400px;
  overflow: hidden;
  margin-bottom: 1em;
  /* margin: 2em auto 0; */
  border-radius: 10px;
  border: none;
  background: #f1eded;
  position: relative;
  box-shadow: 0 10px 40px rgba(0, 0, 0, 0.295);
  /* padding: 85px 25px 65px; */
  animation: hello 0.5s ease forwards;

}
.as-card .header>.button{
    border: 2px solid #111827;
    height: 20%;
    width: 30%;
    border-radius: 10px;
    display: block;
}
@keyframes hello {
    0%{
        width: 83%;
    }
    100%{
        width: 90%;
    }
}
.as-card .details>div{
    flex-direction: column;
}
.as-card .details>div>div:nth-child(1){
    flex: 0.31;
}
.as-card .details>div>div:nth-child(2){
    flex: 0.67;
}

.as-card #img{
    flex: 0.28;
    }
    .as-card #Logindetails{
    flex: 0.7;
    /* background: #000; */
    }

.as-card #previewImage{
   height: 100px;
   width: 100px;
}
.as-card #imgConatainer,
.as-card #imageHere,
.as-card #C>h2{
   width: 100%;
   /* border: 2px solid #111827; */
}
.as-card .header>h1,
.as-card #imageHere>h2,
.as-card .js-switch:nth-child(1){
  display: none;
}
.as-card .header>span,
.as-card #imageHere>span{
  display: flex;
}
.as-card #imageHere{
    cursor: default;
}
.as-card #buttonCon>button:nth-child(2),
.as-card #buttonCon>button:nth-child(3){
display: block;
}
.as-card .twitter>input,
.as-card .codepen>input{
 height: 20%;
}

@media screen and (max-width:800px) {
    #loginForm,
    .click{
        width: 95%;
        overflow-y: auto;
    }
    .as-card #LoginFormContainer{
        height: 101vh;
    }
}

@media screen and (max-width:700px) {
    #previewImage{
        height: 22vh;
        width:  22vh;
    }
}

@media screen and (max-width:550px) {
    @keyframes hello {
        0%{
            width: 83%;
        }
        100%{
            width: 80%;
        }
    }
    .details{
        width: 94%;
    }
    .details>div{
        flex: 0.95;
    }
    #buttonCon{
        width: 75%;
    }
    #previewImage{
        height: 20vh;
        width:  20vh;
    }
   .as-card #previewImage{
        height: 15vh;
        width:  15vh;
    }

.as-card #img{
flex: 0.25;
}
.as-card #Logindetails{
flex: 0.73;
}
#img{
flex: 0.38;
}
#Logindetails{
flex: 0.6;
}

.as-card #loginForm{
    position: relative;
    top: -1.5vh;

}
.twitter>input{
width: 100%;
}
 }
@media screen and (max-width:400px) {
    @keyframes hello {
        0%{
            width: 83%;
        }
        100%{
            width: 90%;
        }
    }
    #click{
        height: 40px;
    }
    h1{
        font-size: 24px;
    }
    #imageHere{
        font-size: 16px;
    }
    #previewImage{
        height: 17vh;
        width:  17vh;
    }
    #checkbox{
        grid-template-columns: auto;
    }
    #containaer{
        flex-direction: column;
    }
    #jobTitl{
        flex-direction: column;
    }
   .as-card #checkbox{
        grid-template-columns: auto auto auto;
    }
   .as-card #containaer{
        flex-direction: row;
    }
   .as-card #jobTitl{
        flex-direction: row;
    }
    #Logindetails{
        overflow-y: scroll;
        }
        .as-card #Logindetails{
            overflow-y: hidden;
        }
        #sub-details{
            height: 350px;
        }
        .header>h1,
        .header>span{
            font-size: 24px;
        }
        #fullInput{
            margin-top: 5px;
        }
        #Expertise{
            margin-bottom: 10px;
        }
        #Logindetails::-webkit-scrollbar-track {
            background: #D1D5DB; /* light gray track */
          }
          
          #Logindetails::-webkit-scrollbar-thumb {
            background-color:  #9CA3AF; /* Tailwind's indigo-600 */
            border-radius: 6px;
            border: 3px solid #9CA3AF;
          }
          
          /* Optional: for Firefox */
          #Logindetails{
            scrollbar-color:   #9ca3af59 #d1d5db50;
          }
          
 }
